body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f8f9fa;
  color: #333;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  flex: 1;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

.navbar a:hover {
  background-color: #575757;
}

.navbar a.active {
  background-color: #6a0dad;
}

.tabcontent {
  display: none;
  padding: 20px;
  text-align: center;
  animation: fadeIn 0.5s;
}

h1 {
  color: #6a0dad;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}